@model ESRGC.GIS.Domain.Model.Drawing
@{
    ViewBag.Title = "Salisbury City - Edit drawing";
}
<div class="mainContainer container-fluid">
    <div class="row-fluid">
        <!--Navigation-->
        <div class="span3">
            @Html.Partial("adminNavPartial", new ViewDataDictionary() { { "contractCss", "active" } })
        </div>
        <!--Page content-->
        <div class="span9">
            <section id="Home">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Admin")">
                            Home</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Contract")">
                            Contracts and drawings</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="@Url.Action("Detail", "Contract", new { id = ViewBag.ContractId })">
                            Contract @ViewBag.ContractNum
                        </a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="@Url.Action("Detail", "Drawing", new { id = Model.DrawingId })">
                            Drawing detail
                        </a>
                        <span class="divider">/</span>
                    </li>
                    <li class="active">
                        Edit drawing</li>
                </ul>
                <div class="well">
                    @using (Html.BeginForm("Edit", "Drawing", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })) {
                        @Html.ValidationSummary(true)
                        <fieldset><legend>Drawing</legend>
                            @Html.HiddenFor(x => Model.DrawingId)
                            <div class="control-group">
                                <label class="control-label" for="FileName">File name</label>
                                <div class="controls">
                                    <input class="input-xlarge" disabled
                                        id="FileName" name="FileName" type="text" 
                                        value="@Model.FileName">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="SheetNumber">Sheet No.</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.SheetNumber)
                                    @Html.ValidationMessageFor(x => x.SheetNumber)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="AsBuilt">As Built</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.AsBuilt)
                                    @Html.ValidationMessageFor(x => x.AsBuilt)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Book">Book</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Book)
                                    @Html.ValidationMessageFor(x => x.Book)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Page">Page</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Page)
                                    @Html.ValidationMessageFor(x => x.Page)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Plan">Plan</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Plan)
                                    @Html.ValidationMessageFor(x => x.Plan)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Detail">Detail</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Detail)
                                    @Html.ValidationMessageFor(x => x.Detail)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="CrossSection">Cross section</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.CrossSection)
                                    @Html.ValidationMessageFor(x => x.CrossSection)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Profile">Profile</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Profile)
                                    @Html.ValidationMessageFor(x => x.Profile)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Elevation">Elevation</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Elevation)
                                    @Html.ValidationMessageFor(x => x.Elevation)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="LocationOfValve">Location of valve</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.LocationOfValve)
                                    @Html.ValidationMessageFor(x => x.LocationOfValve)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="DateLastRevised">Last Revised</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.DateLastRevised)
                                    @Html.ValidationMessageFor(model => model.DateLastRevised)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="DateLastIndexed">Last scanned</label>
                                <div class="controls">
                                    <input class="input-xlarge" disabled
                                        id="DateLastIndexed" name="x.DateLastIndexed" type="text" 
                                        value="@Model.DateLastIndexed">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Rescan">Rescan</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Rescan)
                                    @Html.ValidationMessageFor(x => x.Rescan)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PaperWidth">Paper width</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.PaperWidth) <span>(in)</span>
                                    @Html.ValidationMessageFor(x => x.PaperWidth)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PaperHeight">Paper height</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.PaperHeight) <span>(in)</span>
                                    @Html.ValidationMessageFor(x => x.PaperHeight)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Upload new image</label>
                                <div class="controls">
                                    <input type="file" name="image" id="image" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <input type="submit" value="Save" class="btn btn-primary" data-loading-text="Saving data..." />
                            @Html.ActionLink("Back to detail", "Detail", "Drawing",
                                new { id = Model.DrawingId }, new { @class = "btn" })
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#DateLastRevised').datepicker();
    })
</script>